package_name: "{{ args.package_name }}"
environment: "{{ args.environment }}"
version: "1.0"

docker:
    registry:
        url: "container-registry.gitlab.cc-asp.fraunhofer.de"
        path: "multirobot"


dockerfile:
    base:
        from: "ros:humble"
        tag: "{{ args.package_name }}_base:{{ args.version }}"
        cmd: ["bash"]
        build: True
        build_arguments:
            secret: id=gitcreds,src=$HOME/.git-credentials
        registry:
            tag: "{{ args.docker.registry.url }}/{{ args.docker.registry.path }}/{{ args.package_name }}:base-{{ args.version }}"
    devcontainer:
        from: "{{ args.package_name }}_base:{{ args.version }}"
        tag: "{{ args.package_name }}_devcontainer:{{ args.version }}"
        cmd: ["bash"]
        build: False
    ci:
        from: "{{ args.package_name }}:base-{{ args.version }}"
        tag: "{{ args.package_name }}:ci-{{ args.version }}"
        cmd: ["bash"]
        build: True
        build_arguments:
            secret: id=gitcreds,src=$HOME/.git-credentials
        registry:
            tag: "{{ args.docker.registry.url }}/{{ args.docker.registry.path }}/{{ args.package_name }}:ci-{{ args.version }}"
        build_cmd: "source /opt/ros/humble/setup.bash && colcon build --symlink-install"
    run:
        from: "{{ args.package_name }}_base:{{ args.version }}"
        tag: "{{ args.package_name }}_run:{{ args.version }}"
        cmd: ["bash", "-c", "ros2 run {{ args.package_name }} node"]
        build: True
        build_arguments:
            secret: id=gitcreds,src=$HOME/.git-credentials

entrypoint:
    source: ["/opt/robot-mindset/venv/bin/activate",
             "/opt/ros/humble/setup.bash",
             "/workspace/install/setup.bash"]

devcontainer:
    vscode:
        extensions: ["ms-python.python",
                    "ms-vscode.cpptools-extension-pack",
                    "ms-vscode.cmake-tools",
                    "redhat.vscode-xml",
                    "mhutchie.git-graph",
                    "ms-azuretools.vscode-docker",
                    "mtsmfm.vscode-stl-viewer",
                    "doxygen",
                ]
    feature:
        packages: "ssh,curl,nano,python3-pip,git"
        desktop_lite: "{{ args.devcontainer.feature.desktop_lite | default(false) }}"