package_name: "{{ args.package_name }}"
environment: "{{ args.environment }}"
version: "1.0"

docker:
    registry:
        url: "container-registry.gitlab.cc-asp.fraunhofer.de"
        path: "multirobot"

dockerfile:
    base:
        from: "debian:12"
        tag: "{{ args.package_name }}:base-{{ args.version }}"
        cmd: ["bash"]
        build: True
        build_arguments:
            secret: id=gitcreds,src=$HOME/.git-credentials
        registry:
            tag: "{{ args.docker.registry.url }}/{{ args.docker.registry.path }}/{{ args.package_name }}:base-{{ args.version }}"
    devcontainer:
        from: "{{ args.package_name }}:base-{{ args.version }}"
        tag: "{{ args.package_name }}:devcontainer-{{ args.version }}"
        cmd: ["bash"]
        build: False
    ci:
        from: "{{ args.package_name }}:base-{{ args.version }}"
        tag: "{{ args.package_name }}:ci-{{ args.version }}"
        cmd: ["bash"]
        build: True
        build_arguments:
            secret: id=gitcreds,src=$HOME/.git-credentials
        registry:
            tag: "{{ args.docker.registry.url }}/{{ args.docker.registry.path }}/{{ args.package_name }}:ci-{{ args.version }}"
        build_cmd: ""
    run:
        from: "{{ args.package_name }}:base-{{ args.version }}"
        tag: "{{ args.package_name }}:run-{{ args.version }}"
        cmd: ["bash", "-c", "echo hi"]
        build: True
        build_arguments:
            secret: id=gitcreds,src=$HOME/.git-credentials

entrypoint:
    source: []

devcontainer:
    vscode:
        extensions: ["ms-python.python",
                    "ms-vscode.cpptools-extension-pack",
                    "ms-vscode.cmake-tools",
                    "redhat.vscode-xml",
                    "mhutchie.git-graph",
                    "ms-azuretools.vscode-docker",
                    "mtsmfm.vscode-stl-viewer",
                    "doxygen",
                ]
    feature:
        packages: "ssh,curl,nano,python3-pip,git"
        desktop_lite: "{{ args.devcontainer.feature.desktop_lite | default(false) }}"