# Computed configuration - Variables derived from user settings
# This file contains variables that depend on user configuration or environment
# In combination with the .dev-setup.yml file, it will serve as the context for the template files.
#
# Hint: The contents of this file will be overwritten by the variables defined in the .dev-setup.yml file.

{% set env_prefix = 'ros:humble' if args.environment == 'ros.humble' else 'ros:noetic' if args.environment == 'ros.noetic' else 'debian:12' -%}

dockerfile:
    base:
        from: "{{ env_prefix }}"
        tag: "{{ args.package_name }}:base-{{ args.version }}"
        cmd: ["bash"]
        build: true
        build_arguments:
            secret: id=gitcreds,src=$HOME/.git-credentials
        registry:
            tag: "{{ args.docker.registry.url }}/{{ args.docker.registry.path }}/{{ args.package_name }}:base-{{ args.version }}"
    
    devcontainer:
        from: "{{ args.package_name }}:base-{{ args.version }}"
        tag: "{{ args.package_name }}:devcontainer-{{ args.version }}"
        cmd: ["bash"]
        build: false
    
    ci:
        from: "{{ args.package_name }}:base-{{ args.version }}"
        tag: "{{ args.package_name }}:ci-{{ args.version }}"
        cmd: ["bash"]
        build: true
        build_arguments:
            secret: id=gitcreds,src=$HOME/.git-credentials
        registry:
            tag: "{{ args.docker.registry.url }}/{{ args.docker.registry.path }}/{{ args.package_name }}:ci-{{ args.version }}"
    
    run:
        from: "{{ args.package_name }}:base-{{ args.version }}"
        tag: "{{ args.package_name }}:run-{{ args.version }}"
        {% if args.environment == 'ros.humble' -%}
        cmd: ["bash", "-c", "ros2 run {{ args.package_name }} node"]
        {% elif args.environment == 'ros.noetic' -%}
        cmd: ["bash", "-c", "roslaunch {{ args.package_name }} node.launch"]
        {% else -%}
        cmd: ["bash", "-c", "{{ args.package_name }}"]
        {% endif %}
        build: true
        build_arguments:
            secret: id=gitcreds,src=$HOME/.git-credentials

