package_name: {{ package_name }}
environment: {{ environment }}

dockerfile:
    base:
        from: "ros:noetic"
        tag: "{{ package_name }}_base:1.0"
        cmd: ["bash"]
        build: True
        build_arguments:
            secret: id=gitcreds,src=$HOME/.git-credentials
        registry:
            tag: "container-registry.gitlab.cc-asp.fraunhofer.de/multirobot/test:base-1.0"
    devcontainer:
        from: "{{ package_name }}_base:1.0"
        tag: "{{ package_name }}_devcontainer:1.0"
        cmd: ["bash"]
        build: False
    ci:
        from: "{{ dockerfile.base.registry.tag }}"
        tag: "{{ package_name }}_ci:1.0"
        cmd: ["bash", "-c", "roslaunch {{ package_name }} node"]
        build: False
        build_arguments:
            secret: id=gitcreds,src=$HOME/.git-credentials
        registry:
            tag: "container-registry.gitlab.cc-asp.fraunhofer.de/multirobot/test:ci-1.0"
        build_cmd: "source /opt/ros/noetic/setup.bash && catkin config --install && catkin build"
    run:
        from: "{{ package_name }}_base:1.0"
        tag: "{{ package_name }}_run:1.0"
        cmd: ["bash", "-c", "roslaunch {{ package_name }} node"]
        build: True
        build_arguments:
            secret: id=gitcreds,src=$HOME/.git-credentials
        build_cmd: "source /opt/ros/noetic/setup.bash && catkin config --install && catkin build"

entrypoint:
    source: ["/opt/ros/noetic/setup.bash",
            "/workspace/install/setup.bash"]

devcontainer:
    vscode:
        extensions: ["ms-python.python",
                    "ms-vscode.cpptools-extension-pack",
                    "ms-vscode.cmake-tools",
                    "redhat.vscode-xml",
                    "mhutchie.git-graph",
                    "ms-azuretools.vscode-docker",
                    "mtsmfm.vscode-stl-viewer",
                    "doxygen",
                ]
    feature:
        packages: "ssh,curl,nano,python3-pip,git"
        desktop_lite: {{ devcontainer.feature.desktop_lite }}