package_name: "{{ args.package_name }}"
environment: "{{ args.environment }}"
version: "1.0"
docker:
    registry: "container-registry.gitlab.cc-asp.fraunhofer.de/multirobot"

dockerfile:
    base:
        from: "ros:noetic"
        tag: "{{ args.package_name }}:base-{{ args.version }}"
        cmd: ["bash"]
        build: True
        build_arguments:
            secret: id=gitcreds,src=$HOME/.git-credentials
        registry:
            tag: "{{ args.docker.registry }}/{{ args.package_name }}:base-{{ args.version }}"
        order: 0
    devcontainer:
        from: "{{ args.package_name }}:base-{{ args.version }}"
        tag: "{{ args.package_name }}:devcontainer-{{ args.version }}"
        cmd: ["bash"]
        build: False
        build_cmd: source /opt/dev-setup/setup.bash && catkin config --no-install && catkin build
        order: 1
    ci:
        from: "{{ args.package_name }}:base-{{ args.version }}"
        tag: "{{ args.package_name }}:ci-{{ args.version }}"
        cmd: ["bash"]
        build: True
        build_arguments:
            secret: id=gitcreds,src=$HOME/.git-credentials
        build_cmd: "source /opt/dev-setup/setup.bash && catkin init && catkin config --install && catkin build"
        registry:
            tag: "{{ args.docker.registry }}/{{ args.package_name }}:ci-{{ args.version }}"
        order: 1
    run:
        from: "{{ args.package_name }}:base-{{ args.version }}"
        tag: "{{ args.package_name }}:run-{{ args.version }}"
        cmd: ["bash", "-c", "roslaunch {{ args.package_name }} node"]
        build: True
        {%- if args.dockerfile is defined %}
        {%- if args.dockerfile.run is defined %}
        {%- if args.dockerfile.run.build_keep_folders is defined %}
        build_keep_folders: {{ args.dockerfile.run.build_keep_folders | default(["/opt/dev-setup", "/opt/ros", "/workspace/install"]) }}
        {%- else %}
        build_keep_folders: ["/opt/dev-setup", "/opt/ros", "/workspace/install"]
        {%- endif %}
        {%- else %}
        build_keep_folders: ["/opt/dev-setup", "/opt/ros", "/workspace/install"]
        {%- endif %}
        {%- else %}
        build_keep_folders: ["/opt/dev-setup", "/opt/ros", "/workspace/install"]
        {%- endif %}
        build_cmd: source /opt/dev-setup/setup.bash && catkin config --install && catkin build
        build_arguments:
            secret: id=gitcreds,src=$HOME/.git-credentials
        registry:
            tag: "{{ args.docker.registry }}/{{ args.package_name }}:run-{{ args.version }}"
        order: 2

entrypoint:
    source: ["/opt/ros/noetic/setup.bash",
             "/workspace/build/setup.bash"]

devcontainer:
    vscode:
        extensions: ["ms-python.python",
                    "ms-vscode.cpptools-extension-pack",
                    "ms-vscode.cmake-tools",
                    "redhat.vscode-xml",
                    "mhutchie.git-graph",
                    "ms-azuretools.vscode-docker",
                    "mtsmfm.vscode-stl-viewer",
                    "cschlosser.doxdocgen",
                    "samuelcolvin.jinjahtml",
                    "ranch-hand-robotics.urdf-editor",
                    "ranch-hand-robotics.rde-ros-1"
                ]
    feature:
        packages: "ssh,curl,nano,python3-pip,git,doxygen"
        desktop_lite: "{{ args.devcontainer.feature.desktop_lite | default(false) }}"