#!/bin/bash

docker login {{ args.docker.registry.url }}

# --- Pull and tag images ---

{%- for key, cfg in args.dockerfile.items() %}
    {%- if cfg.registry is defined %}
# {{ cfg.tag }}
docker pull {{ cfg.registry.tag }}
docker tag {{ cfg.registry.tag }} {{ cfg.tag }}
    {%- endif %}
{%- endfor %}
