#!/bin/bash

docker login {{ args.docker.registry.url }}

{% for key, cfg in args.dockerfile.items() %}
    {%- if cfg.registry is defined %}
docker push {{ cfg.registry.tag }}
    {%- endif %}{% endfor %}
