#!/bin/bash

INSTALL_SCRIPT="/workspace/src/{{ args.package_name }}/.dev-setup/install.sh"
SOURCE_FILE="/opt/dev-setup/setup.bash"

if [ -f "$INSTALL_SCRIPT" ]; then
    echo "Running post-create command for {{ args.package_name }}..."
    bash "$INSTALL_SCRIPT"
else
    echo "Install script not found at $INSTALL_SCRIPT"
    exit 1
fi

if [ -f "$SOURCE_FILE" ]; then
    echo "Sourcing setup file..."
    source "$SOURCE_FILE"
else
    echo "Setup file not found at $SOURCE_FILE"
    exit 2
fi

cd /workspace
{%- if args.dockerfile is defined %}
{%- if args.dockerfile.devcontainer is defined %}
{%- if args.dockerfile.devcontainer.build_cmd is defined %}
{{ args.dockerfile.devcontainer.build_cmd }}
if [ $? -ne 0 ]; then
    echo "Build command ({{ args.dockerfile.devcontainer.build_cmd }}) failed."
    exit 3
else
    echo "Build completed successfully."
fi
{%- endif %}
{%- endif %}
{%- endif %}
